body {
  background-color: #265a69;
}

#Wlogo {
  align-items: right;
}

#stylepage {
  background-color: #faf3dd;
  text-align: center;
  box-shadow: 0 2px 15px gray;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li a {
  display: block;
  color: #13293d;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
}

nav a:hover {
  background-color: #faf3dd;
  color: black;
}
