/*Great Vibes Font font-family: 'Great Vibes', cursive; */
/* Bangers Font    font-family: "Bangers", cursive;*/

/* Phone/Small View */

body {
  background-color: beige;
}
#container {
  display: grid;
}
.Para {
  font-family: "Bangers", cursive;
  font-size: large;
}
.Header2 {
  font-family: "Great Vibes", cursive;
  font-size: 60px;
  text-align: center;
}

.Header3 {
  text-align: center;
  font-size: 40px;
}

.images {
  display: block;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.Header2 {
  color: green;
}

#White {
  grid-column: 1/2;
}

/* Tablet Views */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main {
    grid-template-columns: 1fr, 1fr;
  }

  .Header2 {
    color: black;
  }

  #Rule {
    grid-column: 3/4;
    padding: 4em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    grid-template-columns: 1fr, 1fr, 1fr;
  }

  .Header2 {
    color: red;
  }

  #Fitts {
    grid-column: 4/5;
    padding: 4em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Header2 {
    color: blue;
  }
}
