/*Great Vibes Font font-family: 'Great Vibes', cursive; */
/* Bangers Font    font-family: "Bangers", cursive;*/

/* Phone/Small View */

body {
  background-color: beige;
}
#container {
  display: grid;
}
.Para {
  font-family: "Bangers", cursive;
  font-size: large;
}
.Header2 {
  font-family: "Great Vibes", cursive;
  font-size: 60px;
  text-align: center;
}

.Header3 {
  text-align: center;
  font-size: 40px;
  outline-color: black;
  text-decoration: underline;
}

.images {
  display: block;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
.Header2 {
  color: green;
}

#White {
  grid-column: 1/2;
  border: 1px solid black;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

#TopOfDesignPage {
  background-color: #c5d5eb;
  padding-right: 10px;
}

#Rule {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-bottom: 1rem;
}

#Fitts {
  border: 1px solid black;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main {
    grid-template-columns: 1fr, 1fr;
  }

  .Header2 {
    color: black;
    background-color: #173761;
    padding: 3px;
    padding-top: 10px;
  }

  #Rule {
    grid-column: 3/4;
    border: 1px solid black;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

#RuleHeader {
  margin-top: ;
}

.source {
  padding-left: 40%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    grid-template-columns: 1fr, 1fr, 1fr;
  }

  .Header2 {
    color: red;
  }

  #RuleHeader {
    padding-top: 5rem;
  }

  #Fitts {
    grid-column: 4/5;
    border: 1px solid black;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
